{% extends 'biertrofee/layout.html' %}

{% block body %}
    <div>
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <input autofocus type="text" name="username" placeholder="Username">
            <input type="password" name="password", placeholder="Password">
            <input type="submit" value="login">
        </form>
    </div>
    <h1>biertrofee</h1>

    <ul>
        <li><a href="{% url 'players' %}">Spelers</a></li>
        <li><a href="{% url 'poules' %}">Poules</a></li>
        <!-- <li>Wedstrijden</li> -->
    </ul>
{% endblock %}