{% extends 'biertrofee/layout.html' %}

{% block body %}
    <h1>Wedstrijden Poule {{ poule }}</h1>

    <table>
        <thead>
            <th>Home</th>
            <th>away</th>
            <th>Home Score</th>
            <th>Away Score</th>
        </thead>
        <tbody>
            {% for match in matches %}
                <tr>
                    <td>{{ match.home.team.name }}</td>
                    <td>{{ match.away.team.name }}</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
            {% empty %}
                <tr>
                    <td>Mislukt</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <form action="{% url 'score' poule.id %}" method="post">
        {% csrf_token %}
        <select name="match">
            {% for match in matches %}
                <option value="{{ match.id }}">{{ match }}</option>
            {% endfor %}
        </select>
        <input type="number" min="0" name="home_score" value="0">
        <input type="number" min="0" name="away_score" value="0">
        <input type="submit">
    </form>

    <a href="{% url 'poule' poule.id %}">Terug</a>
{% endblock %}